import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #ad42ef, #cc0caf);
    display:flex ;
    justify-content: center;
    align-items: self-end;
}

.content {
    height: 80vh;
    width: 50%;
    
}   

.content p {
    font-size: 19px;
    line-height: 26px;
    margin-top: 80px;
}

.content-img {
    height: 80vh;
    width: 40%;
   
}

.side {
    height: 1490px;
    width: 100%;
    background: linear-gradient(to right, #ad42ef, #cc0caf);
    display: flex;
    justify-content: center;
}

.h1 {
    width: 90%;
    height: 40px;
}
